ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: rgb(41, 39, 39);
}

li {
  float: left;
  border-right: 2px solid #bbb;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 10px 14px;
  text-decoration: none;
}

li a:hover {
  background-color: #1d6b13;
}

.gcolor {
  background-color: rgb(218, 209, 209);
}
h1 {
  margin: 0px;
}
#spl {
  padding-top: 13px;
  padding-bottom: 13px;
}
.firstp {
  float: left;
  width: 70%;
  margin: 0px;
  padding-bottom:15;
}

aside {
  background-color: rgb(218, 209, 209);
  padding-bottom: 21%;
  float: right;
  margin: 0;
  width: 25%;
}
.tmargn {
  
    margin-left: 20px;
  margin-right: 20px;
}
aside h2 {
  color: rgb(21, 76, 112);
  margin-bottom: 2px;
}
section h1 {
  color: rgb(21, 76, 112);
}
h1 {
  font-family: Tahoma, Verdana, sans-serif;
  font-size: 35px;
}
h2 {
  font-family: Tahoma, Verdana, sans-serif;
}
p {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 14px;
}
a {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 17px;
}
#htomargin {
  margin: 0px 0px;
}
.omargin{
    margin-top: -1px;
}
#pdtop{
    padding-top:10px;
}
aside p{
    margin-top:2px;
}
footer{
    
    margin-top:35%;
}
/* .outer-footer{
   float:right;
    background-color:rgb(218, 209, 209) ;
    margin-top: 20%;
    

} */
footer {
    text-align: right;
    padding: 3px;
    background-color: rgb(218, 209, 209);
    color: rgb(15, 15, 15);
  }
  .footerp{
      padding-right: 10px;
  }
/* .gallery-text {
    float: left;
    width: 48%;
    margin: 1%;
  }
  .gallery-text p {
    word-break: break-all;
  } */
